@import "../scss/bootstrap.scss" ;

body{
     font-family: 'Nunito', sans-serif;
     font-weight: 400;
}

/*
    Styling Header
*/

header {
  padding-top: 50px;
  background-image: url('../images/img/jumbotrons-image.png');
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100%;
  background-attachment: fixed;
  max-height: 50vh;
  min-height: 100vh;


  h1 {
    line-height: 1.2;
    font-size: 48px !important;
    font-weight: 800 !important;
    color: #3C5186;

  }

}