@import "../scss/bootstrap.scss";
[data-toggle="collapse"] .fa:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

// untuk memberi style global setiap pada span yg memiliki class ini
.sub-heading-center {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}
// default style paragraf
p {
  font-size: 18px;
  color: #00000085;
  line-height: 1.5;
}
// default style heading 2
h2 {
  font-size: 29px;
  font-weight: 700;
  color: #3c5186;
  margin-bottom: 15px;
}
// default style section
section {
  margin-top: 100px;
}

/*
   Navbar
*/
nav {
  transition: all 0.75s ease;
}

.change_scroll_navbar_bg {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.55s ease;
  background-color: white !important;
}

/*
    Styling Header
*/

header {
  padding-top: 80px;
  padding-bottom: 60px;
  background-image: url("../images/img/jumbotrons-image.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100%;
  background-attachment: local;
  max-height: 100vh;
  min-height: 50vh;

  h1 {
    line-height: 1.2;
    font-size: 48px !important;
    font-weight: 800 !important;
    color: #3c5186;
  }

  .btn-primary {
    color: #fff;
    background-color: #3c5186;
    border-color: #3c5186;
    margin-top: 30px;
    line-height: 0;
    padding: 9px 40px;
    border-radius: 4px;
    transition: 0.5s;
    -webkit-text-stroke: thin;
    font-weight: bold;
    -webkit-text-stroke-color: white;
    letter-spacing: 1px;
  }
}

.container-about-us {
  .about-us-pelayanan {
    .card {
      &:hover {
        .icons-pelayanan {
          background: #3c5186;
          i {
            color: white;
          }
        }
      }
    }
    .icons-pelayanan {
      margin-top: 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      height: max-content;
      transition: 0.5s;
      border: 2px solid #3c5186;
      border-radius: 50%;

      i {
        font-size: 40px;
        color: #3c5186;
      }
    }

    .sub-title-pelayanan {
      margin-left: 40px;
      a {
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 18px;
      }
      p {
        line-height: 24px;
        font-size: 14px;
      }
    }
  }
}

// style keungulan
.container-keungulan {
  .card {
    overflow: hidden;
    padding: 30px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    cursor: pointer;
    &:hover {
      img {
        overflow: hidden;
        padding: 30px 50px;
        transition: all 0.55s ease;
      }
    }
    img {
      padding: 30px 30px;
      transition: all 0.55s ease;
    }
    h5 {
      font-size: 24px;
      color: #012970;
      font-weight: 700;
      margin-bottom: 18px;
    }
  }
}

// PRICISING
#pricising .card {
  margin-top: 30px;
  border-radius: 10px;
}

#pricising .title_box {
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
  padding: 60px 40px;
  text-align: center;
  overflow: hidden;

  img {
    padding: 30px 40px;
  }
}

#pricising .title_box:hover {
  background-color: #3c5186;
  overflow: hidden;
  padding: 30px;
  cursor: pointer;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;

  a {
    border-color: white !important;
    color: black !important;
    background: white;
  }
}

#pricising .title_box:hover span,
#pricising .title_box:hover h3,
#pricising .title_box:hover h4,
#pricising .title_box:hover li {
  color: white !important;
}

#pricising .title_box h3 {
  font-size: 20px;
  font-weight: 600;
}

#pricising .title_box sup {
  font-size: 20px;
}

#pricising .title_box code {
  font-size: 35px;
}
#pricising .title_box small {
  color: #aaa;
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

#pricising .title_box span {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: #3c5186;
  margin-top: 10px;
}

#pricising .list_description {
  padding: 20px 0;
  color: #999;
  line-height: 20px;
}

#pricising .list_description li {
  margin: 20px 0;
  list-style: none;
  color: grey;
  font-size: 15px;
}

#pricising .list_description li i {
  color: #47b2e4;
  font-size: 24px;
}

#pricising .list_description .disable_order_plan {
  text-decoration: line-through;
}

#pricising .list_description .disable_order_plan i {
  color: #9b9b9b !important;
}

/*
  F.A.Q
*/
#faq {
  .card {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 10px;
    .card-header {
      padding: 0;
      background: transparent !important;
    }
  }
  .btn {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*
   FOOTER
*/
footer {
  background-image: url("/assets/images/img/footer-bg.png");
  padding: 50px 10px;
  margin-top: 100px;
  .col-xl-3,
  .col-md-6 {
    padding: 20px 0;
    .footer_description {
      font-size: 14px !important;
      color: grey !important;
    }
    h4 {
      font-size: 30px;
      font-weight: 700;
      color: #3c5186;
    }
    h5 {
      font-size: 18px;
      color: #3c5186;
      font-weight: bold;
    }
    p {
      font-size: 17px !important;
    }
    .list_footer {
      padding: 5px;
    }
    li {
      display: flex;
      place-content: start;
      place-items: center;
      list-style: none;

      i {
        margin-right: 7px;
        color: #3c5186;
        font-weight: bold;
      }

      a {
        text-decoration: none;
      }
    }

    .social_media_description {
      width: 60% !important;
    }
  }
}

// STYLE UI BLOG

.all_blog {
  h1 {
    font-size: 35px;
  }

  .card {
    margin-bottom: 25px;
  }
  .list_blog {
    img {
      max-height: 300px;
    }
  }
}

.post-featured {
  .card {
    border: none;

    img {
      border-radius: 0.25rem;
    }
    .post-featured-update {
      font-size: 12px;
    }
    .post-featured-desc {
      font-size: 15px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &-body {
      padding: 0px 1.25rem;
    }
  }
  .row {
    justify-content: center;
    align-items: center;
  }
}

// CTA
.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.8)),
    url("https://images.unsplash.com/photo-1549194388-f61be84a6e9e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80") center center;
  height: 279px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .content_cta {
    h2 {
      letter-spacing: 1px;
      color: white !important;
    }
    p {
      width: 80%;
      margin: 10px auto 0 auto;
      color: white !important;
    }
  }
  .btn {
    text-transform: uppercase;
    margin-top: 20px;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    padding: 8px 40px;
    font-size: 16px;
    &:hover {
      background-color: #3c5186;
      border-color: #3c5186;
      transition: all 0.55s ease;
    }
  }
}
// FITUR LAREES.ID
.iconts_box_mini {
  margin-top: 30px;
  box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.1);
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 20px;
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 7px;
  }
  i {
    color: #0275d8;
    margin-right: 10px;
    font-size: 32px;
  }
}
@media screen and (max-width: 992px) {
  header {
    .bg-transparent {
      background-color: white !important;
    }
    .ilustration-jumbotron {
      img {
        width: 100% !important;
      }
    }
    .row {
      flex-direction: column-reverse;
    }
  }

  .ilustration-about-us img {
    width: 100% !important;
  }
}
